<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crewmate.shopapisystem.service.code.CommonCodeMapper">

    <!-- table Alias는 붙이자.  -->
    <sql id="selectCommonCodeListWhere">
        <if test="searchType != null and searchType == 'codeGrp'">
          WHERE code_grp LIKE CONCAT('%', #{searchWord}, '%')
        </if>
        <if test="searchType != null and searchType == 'codeNm'">
          WHERE code_nm LIKE CONCAT('%', #{searchWord}, '%')
        </if>
    </sql>
    <select id="selectCommonCodeList" resultType="Code" parameterType="CommonCodeSearch">
        SELECT code_grp
             , code
             , code_nm
             , code_val1
             , code_val2
             , code_val3
             , code_val4
             , code_val5
             , use_yn
             , disp_no
             , reg_dt
             , mod_dt
          FROM system.code
        order by disp_no
        <include refid="selectCommonCodeListWhere"></include>
        <if test="paging">
        LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
    
    <select id="selectCommonCodeListCount" resultType="int" parameterType="CommonCodeSearch">
        SELECT COUNT(*)
          FROM system.code
        <include refid="selectCommonCodeListWhere"></include>
    </select>
    
    <select id="selectCommonCodeForm" parameterType="String" resultType="Code">
        SELECT code_grp
             , code
             , code_nm
             , code_val1
             , code_val2
             , code_val3
             , code_val4
             , code_val5
             , use_yn
             , disp_no
             , reg_dt
             , mod_dt
          FROM system.code
        where code_grp = #{codeGrp}
    </select>
    
    <select id="selectCommonCodeGrpList" resultType="Code">
        select code_grp
        from system.code
        where use_yn = 'Y'
        group by code_grp
        order by disp_no 
    </select>
    
    <insert id="insertCode" parameterType="Code">
        INSERT INTO `system`.code (
            CODE_GRP,
            CODE,
            CODE_NM,
            CODE_VAL1,
            CODE_VAL2,
            CODE_VAL3,
            CODE_VAL4,
            CODE_VAL5,
            USE_YN,
            DISP_NO,
            REG_DT,
            MOD_DT,
            REG_SEQ,
            MOD_SEQ
        ) VALUES (
            #{codeGrp},
            #{code},
            #{codeNm},
            #{codeVal1},
            #{codeVal2},
            #{codeVal3},
            #{codeVal4},
            #{codeVal5},
            #{useYn},
            #{dispNo},
            date_format(now(), '%Y%m%d%H%i%s'),
            date_format(now(), '%Y%m%d%H%i%s'),
            #{regSeq},
            #{modSeq}
        )
        
    </insert>
</mapper>
