server:
  port: 9100
spring:
  profiles.include: common #api의 공통설정 properties는 상위 common-api에서관리되며 include한다.
  datasource:
    hikari:
      #jdbc-url: jdbc:mysql://localhost:3306?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
      #driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:log4jdbc:mysql://localhost:3306?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
      driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
      username: root
      password: '0000'
     #maximum-pool-size: 10 //최대 풀 사이즈 (default 10)
     #connection-timeout: 10000 // 클라이언트가 pool에 컨넥션을 요청하는데 기다리는 시간 (default 30000)
     #minimum-idle: 5 //pool에서 유지가능한 최소 커넥션 갯수 (default 10)
     #idle-timeout: 600000 //유휴상태로 유지시킬 최대시간 default 600000ms(10분). pool에 있는 connection이 minimumIdle에 도달할 경우 이후에 반환되는 connection에 대해서 바로 반환하지 않고 idleTimeout 만큼 유휴 상태로 있다가 폐기
     #max-lifetime:  //커넥션의 최대 유지시간 default 1800000